@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --radius: 0.5rem;
}

@layer base {
    body {
        @apply bg-neutral-50 text-neutral-900 font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
